@model IEnumerable<PeopleProTraining.Models.Building>

@{
    ViewBag.Title = "Buildings";
}

<h2>Buildings</h2>

<p>@Html.ActionLink("Create New", "Create")</p>
<p>@Html.ActionLink("Create New (with Ajax)", "CreateAjax", "Buildings")</p>

<table class="table">
    <tr>
        <th>@Html.DisplayNameFor(model => model.Title)</th>
        <th>@Html.DisplayNameFor(model => model.ID)</th>
        <th></th>
    </tr>

    <tbody id="buildingTable">
        @Html.DisplayForModel()
    </tbody>

</table>


<br />
@section scripts
{
    <script type="text/javascript" src="~/Scripts/jquery-1.9.1.js"></script>
    <script type="text/javascript" src="~/Scripts/jquery.unobtrusive-ajax.js"></script>
}
@using( Ajax.BeginForm("CreateWithAjax", "Buildings",
     new AjaxOptions
     {
         HttpMethod = "POST",
         UpdateTargetId = "buildingTable",
         InsertionMode = InsertionMode.InsertAfter
     },
     htmlAttributes: new { enctype = "multipart/form-data" }
)) { 
    @Html.AntiForgeryToken()
    <h1></h1>
    <h2>
        Title: @Html.TextBox("buildingTitle")<br />
        <input type="submit" value="Create (Ajax)" />
    </h2>
}
