@model PeopleProTraining.Models.Employee

<tr>
    <td>@Model.Name</td><!-- Html.DisplayFor(modelItem => Model.Name) -->
    <td>@Html.DisplayFor(x => x.Birthday)</td>
    <td>@Model.Department.Title</td>
    <td>
        @Html.ActionLink("Edit", "Edit", new { id = Model.ID }) |
        @Html.ActionLink("Details", "Details", new { id = Model.ID }) |
        @Html.ActionLink("Delete", "Delete", new { id = Model.ID })
    </td>
</tr>
 
