@model IEnumerable<PeopleProTraining.Models.Employee>

@{
    ViewBag.Title = "Employees";
}

<h2>Employees</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>

<table class="table">
    <tr>
        <th>@Html.DisplayNameFor(model => model.Name)</th>
        <th>@Html.DisplayNameFor(model => model.Birthday)</th>
        <th>@Html.DisplayNameFor(model => model.Department)</th>
        <th></th>
    </tr>


    @Html.DisplayForModel()


</table>


